.form {
  padding-top: 50px;
  padding-bottom: 50px;
}
.gallery {
  display: flex;
  flex-wrap: wrap;
}

ul {
  list-style: none;
}

li {
  max-width: 320px;
  margin-right: 20px;
}

img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

input {
  margin-right: 24px;
  height: 38px;
  border-radius: 0.25rem;
}

.search-form {
  display: flex;
  justify-content: center;
  align-items: stretch;
}

.load {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.load.is-hidden {
  display: none;
}

.load > .spinner.is-hidden {
  display: none;
}
