<div class="form">
  <form class="search-form" id="search-form">
    <div class="col-auto">
      <input type="text" name="query" autocomplete="off" placeholder="Search images..." />
    </div>
    <div class="col-auto">
      <button type="submit" class="btn btn-primary mb-3">Search</button>
    </div>
  </form>
  <div class="images">
    <ul class="gallery"></ul>
  </div>

  <button class="btn load btn-primary" type="button">
    <span
      class="spinner-border spinner spinner-border-sm is-hidden"
      role="status"
      aria-hidden="true"
    ></span>
    <span class="label">Load more</span>
  </button>
</div>
